version: "3" 

services:
  orion:
    image: fiware/orion
    container_name: fiware-orion
    ports:
      - "1026:1026"
    depends_on:
      - mongo
    entrypoint: ["sh", "-c", "rm /tmp/contextBroker.pid; /usr/bin/contextBroker -fg -multiservice -ngsiv1Autocast -disableFileLog -dbhost mongo"]

  mongo:
    image: mongo:4.4
    container_name: mongo-db
    command: --nojournal
